[Desktop Entry]
Type=Application
Name=ThreadDeck
Comment=Codex thread deck
Exec=/usr/bin/env PATH=/home/ronpatrick/.nvm/versions/node/v22.22.2/bin:/home/ronpatrick/.cargo/bin:/home/ronpatrick/.local/bin:/home/ronpatrick/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/ronpatrick/.local/share/JetBrains/Toolbox/scripts /var/www/CodexNativeUbuntu/build/threaddeck
Icon=/var/www/CodexNativeUbuntu/assets/icons/threaddeck.svg
Terminal=false
Categories=Development;
StartupWMClass=com.ronpatrick.ThreadDeck
